* {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}